#container {
  position: relative;
  width: 720px;
  height: 720px;
  margin-top: 2em;
  box-shadow: 1px 1px 5px #1115;
}
#container canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 720px;
  height: 720px;
  image-rendering: pixelated;
  cursor: none;
  display: block;
  margin: 0;
}
#container #bg {
  background: #ccc3;
}
#container #cursor {
  pointer-events: none;
}
#container #mode {
  pointer-events: none;
  cursor: none;
  position: absolute;
  color: #fff;
  font-size: 32px;
  text-shadow: 1px 1px 1px #333a, -1px -1px 1px #333a, 1px -1px 1px #333a, -1px 1px 1px #333a;
  display: none;
}
#container canvas:hover + canvas + #mode {
  display: inline;
}

#container #mode .icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#container #mode .icon::before {
  position: absolute;
  top: -1em;
  right: -1em;
  z-index: 2;
}

#container #mode.bucket .icon::before {
  right: auto;
  left: -1em;
}

#container #mode.eraser .icon::before {
  left: 50%;
  margin-left: -.4em;
}

#container #mode.dropper .icon::after,
#container #mode.bucket .icon::after {
  content: '\F04FE';
  opacity: .5;

  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container #mode.dropper::after {
  content: ' ';
  background: inherit;
  
  display: block;
  width: 2em;
  height: 2em;
  position: absolute;
  left: 100%;
  bottom: 100%;

  border-radius: 50% 50% 50% 0;
  box-shadow: 0 0 3px #0005;
}
