.file-import {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 720px;
  height: 720px;
  z-index: 9001;
  background: #3b3b3b;
  transition: opacity 300ms linear;
}

.file-import input {
  display: block;
  background:#00f;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.file-import {
  display: block;
  background-color: #3b3b3b;
  background-image: url("/prepare.png");
  image-rendering: pixelated;
  background-size: cover;
  opacity: 1;
}
.file-import.ready {
  opacity: 0;
  pointer-events: none;
}

.file-import section {
  font-size: 42px;
  width: 100%;
  height: 100%;

  color: #fda;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms linear;
  bottom: 0;

}

.file-import .processing-msg {
  background-image: url("/tentacles.png");
  background-size: cover;
  image-rendering: pixelated;
  color: Transparent;
}

.file-import.ready .ready-msg,
.file-import.waiting .waiting-msg,
.file-import.processing .processing-msg,
.file-import.success .success-msg,
.file-import.error .error-msg {
  opacity: 1;
}
