:root {

}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

strong,
b {
  font-weight: bold;
}

.overflow-scroll {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.plain-link {
  color: inherit;
  text-decoration: none;
}

.single-line-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body {
  background: #3b3b3b;
  display: flex;
}

#root {
  width: 720px;
  margin: auto;
  position: relative;
}
#root .save-notice {
  font-size: 18px;
  display: block;
  text-align: center;
  margin-top: -1.5em; /* TODO: more hacky overlays */
  color: #fff7;
  user-select:none;
}
#root .side-length {
  position: absolute;
  left: -1.25em;
  bottom: 0;
  height: 720px;
  width: 720px;
  color: #fff;
  transform: rotate(-90deg);
  font-size: 40px;
  pointer-events: none;
  display: flex;
  user-select: none;
}
#root .side-length span {
  margin: 0 .5em;
}
#root .side-length::before,
#root .side-length::after {
  content: ' ';
  height: .25em;
  display: inline-block;
  border: solid 1px #fff;
  border-width: 1px 0 0 0;
  flex: 1 0 auto;
  margin-top: .5em; 
}
#root .side-length::before {
  border-left-width: 1px;
}
#root .side-length::after {
  border-right-width: 1px;
}
